@font-face {
  font-family: "Bolt", sans-serif;
  src: url(../../assets/fonts/NunitoSans_7pt-Bold.ttf);
}
@font-face {
  font-family: "Light", Verdana, Geneva, Tahoma, sans-serif;
  src: url(../../assets/fonts/NunitoSans_7pt-Light.ttf);
}
@font-face {
  font-family: "Medium", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  src: url(../../assets/fonts/NunitoSans_7pt-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-align: center;
}

body {
  background: #d7dce0;
}

header .navbar-container {
  background: white;
}
header .navbar-container .navbar {
  max-width: 1100px;
  margin: 0 auto;
  cursor: pointer;
  height: 20vh;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
}
header .navbar-container .navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
}
header .navbar-container .navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.1rem;
  cursor: pointer;
}
header .navbar-container .navbar ul li:hover {
  color: #17a2b8;
  transition: 0.5s;
}
header .banner {
  height: 80vh;
}
header .banner .banner-container {
  position: relative;
  max-width: 1380px;
  margin: 0 auto;
  height: 100%;
  background: url(../img/banner.jpg) center/cover;
  display: grid;
  align-items: center;
}
header .banner .banner-container .ban-container {
  padding: 20px 0;
  color: white;
  z-index: 5;
}
header .banner .banner-container .ban-container h1 {
  font-size: 3rem;
}
header .banner .banner-container .ban-container img {
  margin: 25px 0;
}
header .banner .banner-container .ban-container p {
  font-size: 1.3rem;
  margin-bottom: 20px;
}
header .banner .banner-container .ban-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 50px;
  width: 50px;
  border-radius: 150px;
  background: #69c6ba;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s ease;
}
header .banner .banner-container .ban-container a:hover {
  background: #c66995;
}
header .banner .banner-container .ban-container a i {
  color: whitesmoke;
}
header .banner .banner-container .ban-form-container .form-container {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  background: whitesmoke;
  z-index: 30;
  position: relative;
  height: 250px;
}
header .banner .banner-container .ban-form-container .form-container .form-right {
  display: grid;
  gap: 15px;
  padding: 10px 30px;
  grid-template-rows: 12px 30px 12px 30px 12px 30px;
  grid-area: "text text" "date1 date2";
}
header .banner .banner-container .ban-form-container .form-container .form-right label {
  display: flex;
  align-content: flex-end;
}
header .banner .banner-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

main {
  max-width: 1450px;
  margin: 0 auto;
}
main .section1 {
  overflow: hidden;
}
main .section1 .journey {
  background: rgb(245, 244, 244);
  padding: 60px 0;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
main .section1 .journey h2 {
  font-size: 1.9rem;
  font-weight: normal;
}
main .section1 .journey p {
  width: 75%;
  margin: 0 auto;
  color: rgb(77, 76, 76);
}
main .section1 .journey button {
  height: 50px;
  cursor: pointer;
  background: #69c6ba;
  border: none;
  padding: 5px 25px;
  color: whitesmoke;
}
main .section1 .journey button:hover {
  background: #c66995;
  transition: 0.4s;
}
main .section2 img {
  width: 30%;
}
main .section2 .slide {
  width: 85%;
  background: red;
  margin-top: 39px;
  margin: 0 auto;
}
main .section2 .slide .carousel_slide-container {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
main .section2 .slide .carousel_slide-container .carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}
main .section2 .slide .carousel_slide-container .carousel .btn {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 7;
  background: black;
}
main .section2 .slide .carousel_slide-container .carousel .carousel-container {
  display: flex;
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
  transform: translateX(-100%);
  transition: 0.7s ease-in-out;
}
main .section2 .slide .carousel_slide-container .carousel .carousel-container img {
  width: 100%;
  height: auto;
}
main .section2 .slide .carousel_slide-container .carousel .carousel-container img:not(:first-child) {
  margin-left: -100%;
}
main .section2 .slide .carousel_slide-container .carousel .carousel-container img:last-child {
  margin-left: auto;
  margin-right: -100%;
}/*# sourceMappingURL=index.css.map */