main {
  max-width: 1450px;
  margin: 0 auto;

  .section1 {
    overflow: hidden;

    .journey {
      background: rgb(245, 244, 244);
      padding: 60px 0;
      width: 85%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      h2 {
        font-size: 1.9rem;
        font-weight: normal;
      }

      p {
        width: 75%;
        margin: 0 auto;
        color: rgb(77, 76, 76);
      }

      button {
        height: 50px;
        cursor: pointer;
        background: #69c6ba;
        border: none;
        padding: 5px 25px;
        color: whitesmoke;

        &:hover {
          background: #c66995;
          transition: 0.4s;
        }
      }
    }
  }

  .section2 {
    img {
      width: 30%;
    }

    .slide {
      width: 85%;
      background: red;
      margin-top: 39px;
      margin: 0 auto;

      .carousel_slide-container {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;

        .carousel {
          width: 100%;
          overflow: hidden;
          position: relative;

          .btn {
            // position: absolute;
            display: flex;
            justify-content: center;
          }

          // &:hover {
          //     transform: translateX(-70%);
          // }

          .carousel-container {
            display: flex;
            scroll-snap-type: mandatory;
            scroll-behavior: smooth;
            transform: translateX(-100%);
            transition: 0.7s ease-in-out;
            // &:hover {
            //     transform: translateX(-70%);
            // }

            img {
              width: 100%;
              height: auto;

              &:not(:first-child) {
                margin-left: -100%;
              }

              &:last-child {
                margin-left: auto;
                margin-right: -100%;
              }
            }
          }
        }
      }
    }

    // .carousel_slide-containerr {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }
  }
  .section3 {
    .continent {
      .continent-container {
        background: #69c6ba;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 200px;
      }

      .cont-list {
        max-width: 1050px;
        margin: 70px auto;
        display: grid;

        .discover-container {
          .box {
            display: flex;
            justify-content: space-around;
            align-items: center;
          }
        }
      }
    }
  }
}

// .carousel {
//   width: 100%;
//   overflow: hidden;
// }

// .carousel__container {
//   display: flex;
//   transform: translateX(0);
//   transition: transform 0.5s ease-in-out;
// }

// .carousel__container img {
//   width: 100%;
//   height: auto;
// }

// .carousel__container img:not(:first-child) {
//   margin-left: -100%;
// }

// .carousel__container img:last-child {
//   margin-left: auto;
//   margin-right: -100%;
// }

// .carousel:hover .carousel__container {
//   transform: translateX(-33.33%);
// }

// .carousel {
//     display: flex;
//     overflow-x: scroll;
//     scroll-snap-type: x mandatory;
//     scroll-behavior: smooth;
//     width: 100%;

//     .slide {
//       scroll-snap-align: start;
//       flex-shrink: 0;
//       width: 100%;

//       img {
//         width: 100%;
//         height: auto;
//       }
//     }
//   }
